/* conponent */
.fontsize {
  font-size: 18px;
}
/* diverregistration */
.dirverresfullc {
  background-color: #3d3b52;
}
.textboxcolor {
  color: white !important;
  background-color: #232135 !important;
}
